
#left form { 
    width: 100%;

}
.w-100 {
    width: 100%;
}
.maxw-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.ui-menu.ui-widget {
    border-radius: 0px;
    width: 100%;
    border: none;
}
.ui-menu.ui-slidemenu.ui-menu-dynamic.ui-widget.ui-widget-content{
    z-index: 100000!important;
}
.ui-menuitem-link.ui-corner-all {
    text-align: center
}

.notPermit {
    width: 100%;
    height: 100%;
}
.notPermit h1{
    
}